// Mixins are functions that we can pass values into
@mixin default-text-color($tc){
  color: $tc;
}

/*
You can define a default value as well if an attribute
isn't passed

@mixin default-text-color($tc: $black){
  color: $tc;
}
*/
